en.subject.pdf
webserv
.vscode
bgnet
miniwebserver
nnn*
template.sh
tmp*
to_do_list.md

# tests folders
bin
local_tests
server_root
wrk

# Object files
objs/*
*.out

# logs
output

# download test folder
test/www/download/*

test/www/upload/store-folder/*